.main {
    text-align: center;
    font-weight:300
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #008CBA;
    color: black;
    text-align: center;
  }
  .button {
    background-color: #008CBA; /* Green */
    border: 2px solid #008CBA;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white; /* Blue */
    color: black;
  }

  